body {
    background-color: #03001C;
    color: #B6EADA;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: #5B8FB9;
}

h1 {
    font-family: Garamond;
    font-size: 45px;
}

h1 a {
    color: #B6EADA;
}

.Center {
    margin: auto;
    width: 50%;
}